html {
    height: 100%;
    width: 100%;
  }
  
  body {
    height: 800px;
    width: 100vw;
    font-family: "Josefin Sans";
    background-color: rgba(0, 0, 0, 0.851);
    display: flex;
    justify-content: center;
  }
  
  .center-box {
    width: 1375px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* border: 5px solid rgb(0, 0, 0); */
  }
  
  .text-box {
    margin-top: 45px;
    width: 1375px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    border: 5px solid rgb(131, 123, 143);
  
    border-radius: 25px;
   
    opacity: 95%;
  }
  
  #seq1-sketch {
    display: flex;
    align-self: center;
    width: 1375px;
    margin-top: 40px;
    border: 5px solid rgb(131, 123, 143);
    
   
  }
  
  p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;

  }

  h1{
    color: white;
    text-align: center;
  }

  .button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #button1 {
    height: 50px;
    width: 170px;
    align-self: center;
    font-size: 22px;
    border-radius:25px;
    background-color: #c7c7c7; /* Green */
    border: 5px solid rgb(131, 123, 143);
    font-family: "Josefin Sans";
    text-align:center;
  }

  
#button1:hover {
  /* background-color: rgb(85, 81, 90);; 
  color: rgb(255, 255, 255);  */
  box-shadow: 0 8px 15px 1px rgb(255, 255, 255);
}


ul {
    text-align: left;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
  }
