html {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto Mono";
}

p {
  color: rgb(35, 67, 49);
  font-size: 15px;
}



.main-container{
  width: 1500px;
  /* height: 1150px;  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid rgb(35, 67, 49);
  background: rgb(100, 190, 139);


}

.col1-container{
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid rgb(53, 102, 74);
  align-items: center;
  align-self: center;
  margin-bottom: 120px;

}

.col2-container{
  display: flex;
  
  flex-direction: column;
  justify-content: start;
  /* border: 5px solid #ff9d00; */
  align-items: center;
  
}
  
.col3-container{
  width: 330px;
  height: 850px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 5px solid #000000; */
  align-items: center;
  align-self: center;
  padding-bottom: 100px;
  margin-top: 150px;
  margin-left: 20px;

}


.subcol1{
  display: flex;
  width: 330px;
  flex-direction: column;
  justify-content: start;
  border: 5px solid rgb(53, 102, 74);
  align-items: center;
  align-self: center;
  margin-top: 30px;
}


.subcol2{
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: 5px solid rgb(53, 102, 74);
  align-items: center;
  align-self: center;
}

.piano-container {
  width: 605px;
  height: 390px;
  /* border: 5px solid #ff0000; */
  margin-top: 25px;
}


svg {
  width: 580px;
  height: 300px;
  /* border: 5px solid #9bbd00; */
}

.black-box{
  display: flex;
  width: 600px;
  height: 30px;
  flex-direction: row;
  justify-content:space-around;
  /* border: 5px solid #000000; */
}

.black-box1{
  display: flex;
  width:200px;
  height: 30px;
  /* border: 5px solid #040404; */
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2px;
  

}

.black-box2{
  display: flex;
  width:280px;
  height: 30px;
  /* border: 5px solid #0d8700; */
  flex-direction: row;
  justify-content: space-around;
  margin-right: 3px; 
}

.black-keys{
  width:40px;
  height:25px;
  border: 3px solid #000000;
  background-color: black;
  border-radius: 12px;
  
}

.white-box{
  display: flex;
  width: 600px;
  height: 30px;
  flex-direction: row;
  justify-content:space-around;
  /* border: 5px solid #525252; */
  margin-bottom: 310px;
}

.white-keys{
  width:40px;
  height:25px;
  border: 3px solid #000000;
  margin-left: 12px;
  margin-right: 12px;
  background-color: rgb(236, 235, 235);
  border-radius: 12px;
}

#synth-sketch {
  display: flex;
  align-self: center;
  /* width: 1375px; */
  margin-top: 20px;
  border: 5px solid rgb(131, 123, 143);
  
}

label{
  display: flex; 
  align-items: center; 
  justify-content: center;
}

input[type="range"] {
  margin-bottom: 0px; 
}


